/////////////////////////////////////////////
// Colors

$secondary-color: #FFFFFF;
$cta-color: #DB2C36;

$light-cyan: #e0fbfc;
$powder-blue: #C2DFE3;
$pewter-blue: #9db4c0;
$cadet: #5c6b73;
$primary-color: #253237;


$shadow-grey: 0px .2rem 1.1rem rgba(92, 107, 115, 0.203238); //cadet



/////////////////////////////////////////////
// FONT VARIABLES

$primaryfont: 3rem;
$secondaryfont16: 1.6rem;
$thirdfont14: 1.4rem;
$regular12: 1.2rem;

/////////////////////////////////////////////
// Display größen
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px