/////////////////////////////////////////////
// Colors
$primary-color: #151515;
$secondary-color: #FFFFFF;
$cta-color: #DB2C36;


$shadow-grey: 0px .2rem 1.1rem rgba(25, 50, 81, 0.203238); 



/////////////////////////////////////////////
// FONT VARIABLES

$primaryfont20: 2rem;
$secondaryfont16: 1.6rem;
$thirdfont14: 1.4rem;
$regular12: 1.2rem;

/////////////////////////////////////////////
// Display größen
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px