/////////////////////////////////////////////
// Button
.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(90deg, hsla(0, 100%, 67%, 1) 0%, hsla(0, 100%, 89%, 1) 100%); //FARBE ANPASSEN
    color: #fff; //FARBE ANPASSEN
    position: relative;
    overflow: hidden;
    cursor: pointer;


    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s;
    }
    
    &__visible {        
        padding: 2rem 7.5rem;
    }

    &__invisible {
        position: absolute;
        padding: 2rem 0;
        left: 0;
        top: -100%;
    }
    
    &:hover {
        background-image: linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%); //FARBE ANPASSEN
    }
    
    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible { 
        top: 0;
    } 
    
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

/////////////////////////////////////////////
// Button SHOW ANSWER
/*.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    background-image: linear-gradient(90deg, 
    hsla(0, 100%, 67%, 1) 0%, 
    hsla(0, 100%, 89%, 1) 100%); //FARBE ANPASSEN
    color: #fff; //FARBE ANPASSEN

    &__answer {        
        padding: 2rem 4rem;
    }

    &:hover {
        background-image: linear-gradient(90deg, 
        hsla(132, 79%, 68%, 1) 0%, 
        hsla(101, 62%, 48%, 1) 100%); //FARBE ANPASSEN
    }
    
}*/
