.heading-1 {
  font-size: $primaryfont;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.heading-2 {
  font-size: $secondaryfont16;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
}

.heading-3 {
  font-size: $thirdfont14;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
}

p {
  font-size: $thirdfont14;
}

